* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://cdn.hipwallpaper.com/i/85/65/04DwgL.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 50px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .read {
    opacity: 0.5;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .user {
    background-color: #55acee;
  }
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: white;
    color:black;
    opacity: 1;
    transition: all 0.5s;
  }
  
  .fa {
    margin-right: 5px;
    width:50px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    opacity: 0.7;
  }
  
  .logo {
    width: 110px;
    margin-top: -20px;
    margin-left: 260px;
  }
  
  .header-left {
    float: left;
  }

  
  .header-right {
    float: right;
    margin-top:20px;
  }
  
  .header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(87, 84, 84);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-left a:hover {
    background-color: rgba(20, 18, 18, 0.3);
  }
  

  
  .test-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }

  .test-wrapper a{
    line-height: 65px;
    padding: 0 25px;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    transition: all 0.5s;
  }

  .test-wrapper img{
    width: 500px;
    border-radius: 10%;
    box-shadow: 7px 7px #94a39a;
  }

  .test-wrapper img:hover{
    width: 510px;
  }
  
  .testimoni {
    float: left;
    width: 50%;
  }
  
  .testimoni-icon {
    position: relative;
  }
  
  .testimoni-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .member-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .member {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
  }
  
  .member:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
    margin: -25px 0px -40px 0px;
    float: right;
  }
  
  footer p {
    color: #000000;
    font-size: 12px;
    float: right;
    margin-top: 25px;
  }
  
  footer {
    
    background-image: url(footer.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
  }
